            <div class="werenrendai-footer">
    <div class="footer-center">
        <div class="friend-link">
            <div class="f-l-l">友情链接</div>
            <div class="f-l-r">
                <ul>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="/pc/college.html">人人学院</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="https://www.we.com">WE理财</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="/pc/uPlan.html">U计划</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="http://www.ucredit.com">人人友信</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="http://bbs.we.com">用户论坛</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="/pc/autoinvest.html">薪计划</a>
                    </li>
                    <li class="fn-left">
                        <a class="gray" target="_blank" href="/pc/loan.html">债权</a>
                    </li>
                </ul>
                <!--<span class="sanjiao icon-show"><i></i></span>-->
            </div>
        </div>
        <div class="introduce" style="display: none;">
            <ul class="fn-clear">
                <li class="fn-left">
                    <a class="gray" target="_blank" href="/about/about.action?flag=contact">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="introduce">
            <ul class="fn-clear icons">
                <li class="fn-left">
                    客户服务
                </li>
                <li class="fn-left"><a id="wexinBtn" class="gray" href="javascript:;" tabindex="-1">
                    微信</a></li>
                <li class="fn-left"><a class="gray" target="_blank" rel="external nofollow" href="http://e.weibo.com/renrendai?ref=http%3A%2F%2Fwww.renrendai.com%2F">新浪微博</a></li>
                <li class="fn-left"><a class="gray cursor-pointer" rel="external nofollow" target="_blank" onclick="online_service();">在线客服</a></li>
            </ul>
        </div>
        <div class="desc">
            <span class="up-line"></span>
            <span class="down-line"></span>
            <div class="d-l">
                <p class="first">© <span class="year">2017</span> 人人贷商务顾问(北京)有限公司 All rights reserved </p>
                <p class="gray"><span>京ICP证 100953号</span> <span style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">京公网安备 11010802021944</span> 京ICP备12025643号-1</p>
                <p>人人贷商务顾问(北京)有限公司: 市场有风险  投资需谨慎  座机号码 010-53232880</p>
            </div>
            <div class="d-c">
                <div class="d-c-wx"><img src="picture/we-weixing_10afe11_1.png" alt="人人贷微信公众号"/></div>
                <div class="d-c-app"><img src="picture/app-weixin_e175ae1_1.png" alt="人人贷app下载"/></div>
            </div>
            <div class="d-r">
                <div class="phone">400-090-6600</div>
                <div class="time">服务时间: 9:00-21:00</div>
            </div>
        </div>
        <div class="img-show">
            <a rel="external nofollow" class="ui-footer-verification-item fn-left trust" id="kx_verify" href="https://ss.knet.cn/verifyseal.dll?sn=e13042311010040288j4wq000000&ct=df&a=1&pa=931969"title="人人贷已通过中网权威数据库对比，获得“可信网站”身份验证，您可放心使用。"  target="_blank">
            </a>
            <a rel="external nofollow" class="ui-footer-verification-item fn-left internet" href="http://si.trustutn.org/info?sn=881141203000033878231" title="人人贷已通过认证联盟权威数据库对比，获得“互联网金融行业认证”，您可放心使用。" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item fn-left itrust" title="人人贷已经成为中国互联网信用评价中心网络诚信联盟成员，并且完成企业信用评级 " href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/2554879344" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item fn-left customer" title="人人贷获评12315.com客户满意度测评中心最高等级满意度" href="http://www.itrust.org.cn/home/index/satification_certificate/wm/MY2017061202" target="_blank"></a>
            <a rel="external nofollow" class="ui-footer-verification-item fn-left copper" title="人人贷已经完成在公安机关的信息备案，您可了解网站相关备案信息。" href="http://gawa.bjchy.gov.cn/websearch/" target="_blank" ></a>
            <!--<a class="ui-footer-verification-item fn-left certificate" title="人人贷已经完成在北京市工商局网站备案，您可了解网站相关备案信息。" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013052900002" target="_blank" ></a>-->
            <a rel="external nofollow" class="ui-footer-verification-item fn-left hundred" title="人人贷为AAA级信用企业的互联网百强企业证书。" href="http://www.we.com/cms/5788c3322fc6cb3b46b9e7e2/common/footer/2016%E5%B9%B4%E4%BA%92%E8%81%94%E7%BD%91%E7%99%BE%E5%BC%BA%E4%BC%81%E4%B8%9A-%E8%AF%81%E4%B9%A6.pdf" target="_blank" ></a>
            <a rel="external nofollow" class="ui-footer-verification-item fn-left norton" title="人人贷已引入VeriSign SSL加密技术，您的隐私及个人资料安全已受最高级别的保护。" href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=renrendai.com&lang=zh_cn" target="_blank" ></a>

        </div>
    </div>
</div>