        <img style="display: none;" src="picture/e99e0b623bec4163b3582e9ce6dad0e6.gif" />
            <div class="wdg-werenrendai-top-header">
    <div class="main-section">
        <span class="tel-phone"><i class="icon-phone"></i>客服电话: 400-090-6600</span>
        <ul class="site-nav">
            <li class="nav-item padding-item"><a target="_blank" href="https://www.we.com" style="color: #ff711c">返回WE理财首页</a></li>
            <li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrd">关于我们</a></li>
            <li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrdHelp/help">帮助中心</a></li>
            <li class="nav-item padding-item"><a target="_blank" href="http://bbs.we.com/">用户论坛</a></li>
            <li class="nav-item padding-item"><i class="icon-mobile3"></i><a target="_blank" href="/pc/app-download.html">移动客户端</a></li>
        </ul>
    </div>
</div>
    <div class="wdg-werenrendai-second-header">
    <div class="main-section current-channel-index">
        <a href="/" class="brand-logo mt15">
            <!--首页对logo添加h1标签-->
            <h1 class="rrd-logo">人人贷</h1>
        </a>
        <ul class="site-nav">
            <li class="channel-item active-channel"><a href="/">首页</a></li>
            <li class="channel-item ">
                <a href="/pc/uPlan.html">U计划</a>
            </li>
            <li class="channel-item "><a href="/pc/premium.html">优选计划</a></li>
            <li class="channel-item "><a href="/pc/autoinvest.html">薪计划</a></li>
            <li class="channel-item "><a href="/pc/loan.html">债权</a></li>
            <li class="channel-item ">
                <a href="/pc/college.html" target="_blank">人人学院</a>
            </li>
            <li class="channel-item" style="width: 144px;"><a href="/credit" target="_blank">我要借款/还款</a></li>
            <li class="user-item fn-clear" num="">            
                    <div class="denglu">
                        <a target="_self" href="{:U('Login/login')}">注册</a> / <a target="_self" href="{:U('Login/login')}">登录</a>
                    </div>          
            </li>
        </ul>
    </div>
</div>