<div class="layui-layer-shade" id="layui-layer-shade7" times="7" style="z-index:19891020; background-color:#000; opacity:0.4; filter:alpha(opacity=40);"></div>
<div class="layui-layer layui-layer-page  layer-anim" id="layui-layer7" type="page" times="7" showtime="0" contype="string" style="z-index: 19891021; width: 300px; height: 200px; position: absolute; top: 0.5px; left: 524.5px;">
	<div class="layui-layer-title" style="cursor: move;" move="ok">查看信息
	</div>
	<div id="" class="layui-layer-content" style="height: 157px;">
	<div>管理员信息管理员信息管理员信息管理员信息管理员信息管理员信息</div>
	</div>
	<span class="layui-layer-setwin">
	<a class="layui-layer-min" href="javascript:;"><cite></cite></a>
	<a class="layui-layer-ico layui-layer-max" href="javascript:;"></a><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
	</span>
</div>